{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1 class="display-4">Get the stock price</h1>
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text" onkeyup="this.value = this.value.toUpperCase();" />
        </div>
        <button class="btn btn-primary" type="submit" >Quote</button>
    </form>
{% endblock %}